/* Phone-Only Sizing Variables */
$phone-only-game-board: 380px;
$phone-only-square: 120px;
$phone-only-board-margin: 15px;
$phone-only-board-gap: 50px;
$phone-only-square-gutter: 5px;

/* Phone-Only Text sizes */
$phone-only-large-text: 40px;
$phone-only-medium-text: 18px;
$phone-only-x-font-size: 120px;

/* Tablet-Portrait-Only Sizing Variables */
$tablet-portrait-only-game-board: 190px;
$tablet-portrait-only-square: 50px;
$tablet-portrait-only-board-margin: 10px;
$tablet-portrait-only-square-gutter: 10px;

/* Tablet-Portrait-Only Text sizes */
$tablet-portrait-only-large-text: 60px;
$tablet-portrait-only-medium-text: 22px;
$tablet-portrait-only-x-font-size: 50px;

/* Tablet-Landscape-Only Sizing Variables */
$tablet-landscape-only-game-board: 280px;
$tablet-landscape-only-square: 80px;
$tablet-landscape-only-board-margin: 25px;
$tablet-landscape-only-square-gutter: 10px;

/* Tablet-Landscape-Only Text sizes */
$tablet-landscape-only-large-text: 90px;
$tablet-landscape-only-medium-text: 21px;
$tablet-landscape-only-x-font-size: 80px;

/* For-Desktop-Only Sizing Variables */
$desktop-only-game-board: 360px;
$desktop-only-square: 110px;
$desktop-only-board-margin: 25px;
$desktop-only-square-gutter: 15px;

/* For-Desktop-Only Text sizes */
$desktop-only-large-text: 100px;
$desktop-only-medium-text: 23px;
$desktop-only-x-font-size: 110px;

/* Big-Desktop-Up Sizing Variables */
$big-desktop-up-game-board: 510px;
$big-desktop-up-square: 160px;
$big-desktop-up-board-margin: 80px;
$big-desktop-up-square-gutter: 15px;

/* Big-Desktop-Up Text sizes */
$big-desktop-up-large-text: 100px;
$big-desktop-up-medium-text: 35px;
$big-desktop-up-x-font-size: 155px;