/* Reset */
@import 'reset';

/* Add color Variables */
@import 'colors';
$background-color: $light-blue;
$grid-color: $neutral;
$player1: $mid-blue;
$player2: $red;
$text: $dark-blue;

/* Box Sizing */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Body */
body {
  background-color: $background-color;
  color: $text;
}

/* Title */
  h1{
    font-family: 'Lato', sans-serif;
    margin: 5px 0;
    font-size: 200%;
    text-align: center;
  }

/* Game Area */
  #game-area{
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-column-gap: 20px;
  }

/* Game Grid */
  .game-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 4px;
  }
  #game-grid-0 {}
  #game-grid-1 {}
  #game-grid-2 {}

/* Grid Squares */
  .square {
    background-color: $grid-color;
    height: 200px;
    width: 200px;
    font-size: 1000%;
    text-align: center;
  }

  .square:hover {
    -webkit-filter: opacity(.2);
    filter: opacity(.2);
  }

  .player1 {
    font-family: 'Permanent Marker', cursive;
    color: $player1;
  }

  .player2 {
    font-family: 'Sriracha', cursive;
    color: $player2;
  }

  .player1:hover, .player2:hover {
    -webkit-filter: opacity(1);
    filter: opacity(1);
  }
/* Other Game Stuffs */
  .deactivated {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    .player1:hover, .player2:hover {
    -webkit-filter: opacity(1);
    filter: opacity(1); }
  }
