/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Add Color Variables */
/* Add Sizing Variables */
/* Phone-Only Sizing Variables */
/* Phone-Only Text sizes */
/* Tablet-Portrait-Only Sizing Variables */
/* Tablet-Portrait-Only Text sizes */
/* Tablet-Landscape-Only Sizing Variables */
/* Tablet-Landscape-Only Text sizes */
/* For-Desktop-Only Sizing Variables */
/* For-Desktop-Only Text sizes */
/* Big-Desktop-Up Sizing Variables */
/* Big-Desktop-Up Text sizes */
/* Box Sizing */
*, *:before, *:after {
  box-sizing: border-box; }

/* Body */
body {
  background-color: #3498DB;
  color: #2C3E50; }

/* Title */
h1 {
  font-family: 'Lato', sans-serif;
  margin: 5px 0;
  font-size: 40px;
  text-align: center; }

/* Game Area */
/* Contains the three boards */
#game-area {
  display: grid;
  justify-content: space-between;
  -webkit-user-select: none;
  /* Safari, iOS, and Android */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

/* Game Grid */
/* Each individual game board */
.game-grid {
  display: grid;
  align-items: center; }

/* Grid Squares */
.square {
  background-color: #ECF0F1;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.3); }

.square:hover {
  -webkit-transition: filter .1s ease;
  transition: filter .1s ease;
  -webkit-filter: opacity(0.2);
  filter: opacity(0.2); }

/* Squares marked by players */
.player1, .player2 {
  font-family: 'Permanent Marker', cursive;
  color: #2C3E50;
  cursor: default; }

.player1:hover, .player2:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1); }

/* filters */
/* Other Game Stuffs */
.deactivated {
  -webkit-transition: filter .28s ease;
  transition: filter .28s ease;
  -webkit-filter: brightness(0.5) grayscale(40%);
  filter: brightness(0.5) grayscale(40%); }
  .deactivated .square {
    cursor: default; }
  .deactivated .square:hover {
    -webkit-filter: opacity(1);
    filter: opacity(1); }

#rules {
  list-style: decimal;
  margin: 2px auto 10px auto;
  width: 80%; }
  #rules strong {
    font-weight: bold; }

footer {
  margin: 5px 0 0 0;
  text-align: center; }

footer a {
  color: #ECF0F1;
  text-decoration: none; }

footer a:hover {
  text-decoration: underline; }

/* Media Queries for Different Screen Sizes */
/* phone-only */
@media only screen and (max-width: 599px) {
  #game-area {
    margin: 0 15px;
    grid-gap: 50px;
    grid-template-columns: 380px; }

  .game-grid {
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    margin: 0 5px; }

  .square {
    height: 120px;
    width: 120px;
    font-size: 120px; }

  h1 {
    font-size: 40px;
    text-align: left; }

  #rules {
    font-size: 18px;
    text-align: left;
    width: 85%; }

  #turn-indicator {
    font-size: 26.6666666667px;
    line-height: 40px;
    height: 40px; }

  footer a {
    font-size: 18px;
    margin: 0 50px; } }
/* tablet-portrait-only */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #game-area {
    margin: 0 10px;
    grid-template-columns: repeat(3, 190px); }

  .game-grid {
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    margin: 0 10px; }

  .square {
    height: 50px;
    width: 50px;
    font-size: 50px; }

  h1 {
    font-size: 60px; }

  #rules {
    font-size: 22px; }

  #turn-indicator {
    font-size: 40px;
    line-height: 60px;
    height: 60px; }

  footer a {
    font-size: 22px;
    margin: 0 10px; } }
/* tablet-landscape-only */
@media only screen and (min-width: 900px) and (max-width: 1199px) {
  #game-area {
    margin: 0 25px;
    grid-template-columns: repeat(3, 280px); }

  .game-grid {
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    margin: 0 10px; }

  .square {
    height: 80px;
    width: 80px;
    font-size: 80px; }

  h1 {
    font-size: 90px; }

  #rules {
    font-size: 21px; }

  #turn-indicator {
    font-size: 60px;
    line-height: 90px;
    height: 90px; }

  footer a {
    font-size: 21px;
    margin: 0 25px; } }
/* desktop-only */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  #game-area {
    grid-template-columns: repeat(3, 360px);
    margin: 0 25px; }

  .game-grid {
    grid-template-columns: repeat(3, 110px);
    grid-gap: 15px; }

  .square {
    height: 110px;
    width: 110px;
    font-size: 110px; }

  h1 {
    font-size: 100px; }

  #rules {
    font-size: 23px; }

  #turn-indicator {
    font-size: 66.6666666667px;
    height: 100px;
    line-height: 100px; }

  footer a {
    font-size: 23px;
    margin: 0 25px; } }
/* big-desktop-up */
@media (min-width: 1800px) {
  #game-area {
    grid-template-columns: repeat(3, 510px);
    margin: 0 80px; }

  .game-grid {
    grid-template-columns: repeat(3, 160px);
    grid-gap: 15px; }

  .square {
    height: 160px;
    width: 160px;
    font-size: 155px; }

  h1 {
    font-size: 100px; }

  #rules {
    font-size: 35px; }

  #turn-indicator {
    font-size: 66.6666666667px;
    height: 100px;
    line-height: 100px; }

  footer a {
    font-size: 35px;
    margin: 0 80px; } }

/*# sourceMappingURL=main.css.map */
